*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #121f3d;
}

/* Path: PlatziPregunta\components\Header\Header.css */
header{
    width: 100%;
    height: 60px;
    border-bottom: wheat 1px solid;
}

nav{
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* left side */

.nav-logo{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.logo1{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.logo2{
    width: 50px;
    height: 25px;
    margin-left: 5px;
}

a{
    margin-left: 20px;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.search{
    margin-left: 20px;
    width: 230px;
    display: flex;
    background-color: #1e3040;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.search input{
    height: 30px;
    border: none;
    background-color: #1e3040;
    color: white;
    padding-left: 10px;
    outline: none;
}

.search img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* right side */

.right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.right div{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.right a{
    margin-left: 9px;
    font-size: 15px;
}

.right img{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: wheat;
}

/* Path: Curso*/

.main-arriba{
    text-align: center;
    margin: auto auto;
}

main .main-arriba{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

main .main-arriba img{
    width: 20px;
    height: 20px;
    background-color: rgb(59, 88, 9);
    border-radius: 10px;
    margin-right: 10px;
}

main .main-arriba{
    width: 900px;
    display: flex;

}

main .main-arriba div p{
    color: #8da2c0;
}

main .main-arriba div{
    display: flex;
}

main .porcentaje{
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    height: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

main .porcentaje .verdeclaro{
    background-color: greenyellow;
    width: 12%;
    height: 5px;
}
main .porcentaje .verdeoscuro{
    background-color: green;
    width: 88%;
    height: 5px;
}

main h1{
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

.preguntas{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.preguntas div{
    margin: 0 auto;
    height: 35px;
    margin-top: 20px;
    background-color: #24385b;
    border-radius: 10px;
    border: 1px solid #637a9d;
}

.botones{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.botones button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #33b1ff;
    color: white;
    font-size: 15px;
    cursor: pointer;
}